body,html{
    margin:0;
    padding: 0;
    background-color: black;
}

.navbar-dark{
    color: white;
}

.ntitle{
    color: gold
}

.active{
    border-bottom: 2px solid white;
}

.bg-darker{
    background-color: rgba(49, 50, 45, 0.639)!important
}

.center{
    margin-top: 35px;
}

.register-form{
    width: 400px;
    height: 470px;
    background-color: rgba(64, 66, 61, 0.639)!important;
}

.register-form img{
    width: 220px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
}
.register-input{
    display: grid;
    justify-content: center;
    margin-top: -100px;
}

.register-input input{
    width: 300px;
    border-radius: 5px;
}

.register-input h5{
    color: white;
    margin-top: 15px;
}

.btn{
    width: 100px;
}

.register-login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px
}